@import "./node_modules/materialize-css/sass/materialize.scss";
$secondary-color: #125688;

body {
  background-color: #FAFAFA;
  color: #125688;
  font-family: monospace;
}

#main-container {
  margin: 30px auto;
}

.iphone {
  max-width: 100%;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background-color: #FFF;
  border: 1px solid #EDEEEE;
  border-radius: 3px;
  padding: 10px 0;
}

.signup-box .platzigram {
  font-family: monospace;
  font-size: 42px;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #A5A7AA;
  font-size: 1.2rem;
}

.signup-form .btn.btn-fb {
  background-color: #4090DB;
  font-size: .8rem;
}

.signup-form .btn.btn-fb:hover {
  background-color: #2D6599;
}
